/* src/App.css */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Tüm ekran yüksekliğini kapla */
  text-align: center;
  font-family: Arial, sans-serif;
}

.word-container {
  margin: 20px;
}

.options {
  margin-top: 10px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.feedback {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.wrong-answers {
  text-align: left;
  margin-top: 20px;
  width: 300px; /* Liste genişliğini sınırlamak için */
}

.wrong-answers ul {
  list-style-type: none;
  padding: 0;
}

.wrong-answers .answer-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.wrong-answers .question {
  font-weight: bold;
}

.wrong-answers .correct-answer {
  font-style: italic;
  color: green;
}

button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.word-selection, .wrong-answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
